@model List<Order>

@foreach (Order order in Model)
{
    <div>@order.Address</div>
    <div>@order.City</div>
    <div>@order.Email</div>
    <div>@order.CartLines</div>
    <div>@order.Id</div>
    <div>@order.GiftWrap</div>
    <div>@order.Phone</div>
}