@using SportStore.Infrastructure
@using Microsoft.AspNetCore.Http
@model Product

@{ var returnUrl = ViewContext.HttpContext.Request.PathAndQuery("#" + Model.Id.ToString()); }
<div class="product-block">
    <div class="product-banner-holder" id="@Model.Id">
        <div class="product-banner">топ продаж</div>
    </div>
    <a class="product-img" asp-action="ProductPage" asp-controller="Product" 
       asp-route-productId="@Model.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery("#" + Model.Id.ToString())"></a>
    
    <div class="product-name">
        @(Model.Name.Length < 85 ? Model.Name : Model.Name.Substring(0, 85))
    </div>
    
    <div class="product-price">
        @Model.Price
    </div>
    
    <form asp-action="AddToCart" asp-controller="Cart" method="post" style="display: flex;justify-content: center">
        <input type="hidden" name="ProductId" value="@Model.Id">
        <input type="hidden" name="ReturnUrl"
               value="@returnUrl"/>
        <button class="product-add">в корзину</button>
    </form>
    
    <a class="product-comments" href="https://www.google.com/">
        @Model.Comments.Count коментариев
    </a>
</div>

