@using DAO.Models
@model IEnumerable<DAO.Models.Order>

@foreach (Order order in Model)
{
    <div>Id: @order.Id</div>
    <div>FirstName: @order.Costumer.FirstName</div>
    <div>SecondName: @order.Costumer.SecondName</div>
    <div>Address: @order.Address</div>
    <div>Email: @order.Costumer.Email</div>
    <div>Phone: @order.Costumer.Phone</div>
    <div>
        Cart:
        @foreach (var lines in @order.CartLines)
        {
            <div>@lines.Product.Name:@lines.Count</div>
        }
    </div>
}
Thx for order O_O