@using SportStore.Components
@using DAO.Migrations
@using DAO.Models
<link rel="stylesheet" href="/css/OrderAdmin.css">
@model System.Collections.Generic.List<DAO.Models.Order>


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    int index = 0;
}
@foreach (var order in Model) //single order block
{
    <form class="order-block-form" method="post" asp-controller="Order" asp-action="SetApproved">
        @{ ++index; }

        <div class="order-block__products-holder">
            @for (int i = 0; i < order.Cart.CartLines.Count; i++) //single product line in order block
            {
                var cartLine = order.Cart.CartLines[i];
                <div class="product-line-block">
                    <div class="product-line-block__img">
                    </div>
                    <div class="product-line-block__lorem">
                        Lorem ipsum.
                    </div>
                    <div class="product-line-block__product-id">
                        <h3>Id: @cartLine.ProductId</h3>
                    </div>
                    <div class="product-line-block__product-name">
                        <h4>@cartLine.Product.Name</h4>
                    </div>
                    <div class="product-line-block__in-stock">
                        <h6>In stock: @cartLine.Product.Amount</h6>
                        <input type="hidden" name="pLines[@i].orderId" value="@cartLine.ProductId"/>
                    </div>
                    <div class="product-line-block__costumer-need">
                        <label style="display: flex; align-items: center">
                            <h6>rder need: </h6>
                            <input class="product-line-block__orderQuantityInput"
                                   type="number"
                                   name="pLines[@i].Amount"
                                   value="@cartLine.Amount"/>
                        </label>
                    </div>
                    <div class="product-line-block__button-block">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            }
            <form id="deleteOrder" method="POST" asp-controller="Order" asp-action="DeleteOrder">
                <input type="hidden" name="orderId" value="@order.Id"/>
            </form>
        </div>
        <div class="buttons-holder" onclick="(function (e)  { e.preventDefault(); e.stopPropagation(); })(event)">
            <button class=" btn btn-primary btn-margins" data-bs-toggle="collapse"
                    href="#collapseAddress-@index" role="button"
                    aria-expanded="false" aria-controls="collapseAddress-@index">
                Shipment info
            </button>


            <button class="@(order.Comment.Length > 0 ? " btn btn-primary btn-margins" : " btn btn-light btn-margins")"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseComment-@index" aria-expanded="false"
                    aria-controls="collapseComment-@index">
                Comment
            </button>
            <button type="button" class="btn btn-success">Success</button>
            <button class=" btn btn-primary btn-margins" data-bs-toggle="collapse"
                    href="#collapseOptions-@index" role="button"
                    aria-expanded="false" aria-controls="collapseOptions-@index">
                Options
            </button>
        </div>

    </form>
    <div class="collapse" id="collapseAddress-@index">
        <div class="card card-body">
            <h3>Email: @order.Costumer.Email</h3>
            <h3>Phone: @order.Costumer.Phone</h3>
            <h3>FirstName: @order.Costumer.FirstName</h3>
            <h3>SecondName: @order.Costumer.SecondName</h3>
            <h3>Patronymic: @order.Costumer.Patronymic</h3>
            <h3>PostalOffice: @order.Costumer.Address.PostalOffice</h3>
            <h3>City: @order.Costumer.Address.City</h3>
            <h3>Street: @order.Costumer.Address.Street</h3>
            <h3>House: @order.Costumer.Address.House</h3>
            <h3>Apartment: @order.Costumer.Address.Apartment</h3>
        </div>
    </div>
    <div class="collapse" id="collapseComment-@index">
        <div class="card card-body">
            <h3>@order.Comment</h3>
        </div>
    </div>
    <div class="collapse" id="collapseOptions-@index"
         >
        <div class="card card-body">
            <button type="button" class="btn btn-dark">Add product</button>
            <button type="button" class="btn btn-success">Save order</button>
            <button type="button" form="deleteOrder" class="btn btn-danger">Delete order</button>
        </div>
    </div>
}
@* onclick="(function (e)  { e.preventDefault(); e.stopPropagation(); })(event)" *@
@* <div class="collapse" id="collapseAddress-@index"> *@
@*     <div class="card card-body"> *@
@*         <h3>Email: @order.Costumer.Email</h3> *@
@*         <h3>Phone: @order.Costumer.Phone</h3> *@
@*         <h3>FirstName: @order.Costumer.FirstName</h3> *@
@*         <h3>SecondName: @order.Costumer.SecondName</h3> *@
@*         <h3>Patronymic: @order.Costumer.Patronymic</h3> *@
@*         <h3>PostalOffice: @order.Costumer.Address.PostalOffice</h3> *@
@*         <h3>City: @order.Costumer.Address.City</h3> *@
@*         <h3>Street: @order.Costumer.Address.Street</h3> *@
@*         <h3>House: @order.Costumer.Address.House</h3> *@
@*         <h3>Apartment: @order.Costumer.Address.Apartment</h3> *@
@*     </div> *@
@* </div> *@
@* <div class="collapse" id="collapseComment-@index"> *@
@*     <div class="card card-body"> *@
@*         <h3>@order.Comment</h3> *@
@*     </div> *@
@* </div> *@