@using DAO.Models
@model List<DAO.Models.Order>
@foreach (Order order in Model)
{
    <div style="border: solid 2px rebeccapurple; margin: 30px;padding: 20px">
        <div style="font-size: 15px">
            <div>Id: @order.Id</div>
            <div>FirstName: @order.Costumer.FirstName</div>
            <div>SecondName: @order.Costumer.SecondName</div>
            <div>Address: @order.Address</div>
            <div>Email: @order.Costumer.Email</div>
            <div>Phone: @order.Costumer.Phone</div>
            <div>
                Cart:
                @foreach (var lines in @order.Cart.CartLines)
                {
                    <div>@lines.Product.Name:@lines.Amount</div>
                }
            </div>
        </div>

        <div>
            @if (order.IsDone)
            {
                <div>Is done: @order.IsDone</div>
            }
            else
            {
                <div>Is done: @order.IsDone</div>
                <a asp-action="MarkingDone" asp-controller="Order" asp-route-orderId="@order.Id">Done</a>
            }
        </div>
    </div>
}