@model UserEditRolesViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <table class="table table-striped table-bordered table-sm table">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
        </tr>
        <tr>
            <th class="text-center">@Model.UserName</th>
            <th class="text-center">@Model.UserEmail</th>
        </tr>
    </table>

    <form asp-action="Edit" asp-controller="AdminUsersRoles" method="post">
        <input type="hidden" name="userName" value="@Model.UserName">
        <input type="hidden" name="userEmail" value="@Model.UserEmail">
        <ul>
            @foreach (var role in Model.AllRoles)
            {
                <li>
                    @role
                    <input type="checkbox" name="newUserRoles"
                           value="@role" @(Model.UserRoles.Contains(role) ? "checked=\"checked\"" : "")/>
                </li>
            }
        </ul>
        <button type="submit">Submit</button>
    </form>
</div>

@* UserRoles *@
@* AvailableRole *@