@using SportStore.Infrastructure
@model Product

<div class="product-block">
    <div class="product-block-Left">
        <div class="product-img-holder"></div>
        <div class="product-category">
            Category:<br>
            @Model.Category
        </div>
    </div>
    <div class="product-block-right">
        <div>
            <div class="product-id">Id: @Model.Id</div>
            <div class="product-name">
                Name: @Model.Name
            </div>
            <form id="@Model.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" name="productId" value="@Model.Id">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
                <button type="submit">Add to cart</button>
            </form>
        </div>
        <div class="product-description"><div class="descriptionHolder">@Model.Description</div></div>
        <div class="product-price">Price is @Model.Price</div>
    </div>
</div>