@model AdminCreateViewModel

@{
    Layout = "_AdminLayout";
}

<div asp-validation-summary="All"></div>
<form asp-action="CreateProduct" method="post" asp-controller="Admin">
    @for (int i = 0; i < Model.Products.Length; i++)
    {
        <div>
            <label >Name</label>
            <input name="AdminModel.Products[@i].Name" value="@Model.Products[i].Name"/>
        </div>
        <div>
            <label >Description</label>
            <input name="AdminModel.Products[@i].Description" value="@Model.Products[i].ProductInfos[0].ShortDescription.Value"/>
        </div>
        <div>
            <label >Category</label>
            <input name="AdminModel.Products[@i].Category" value="@Model.Products[i].NavCategoryFirstLvl"/>
        </div>
        <div>
            <label >Price</label>
            <input name="AdminModel.Products[@i].Price" value="@Model.Products[i].PriceUSD"/>
        </div>
    }
    <input type="hidden" name="AdminModel.BlocksCount" value="@Model.BlocksCount"/>
    <button type="submit">Add</button>
</form>

<a asp-action="ControlPanel" asp-controller="Admin">Cansel</a>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>    
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>   